#header
  height 45px;
  background #563d7c;
  h1
    position absolute
    left 0
    top 3px
    font-weight normal
    font-size 1.5em
    line-height 45px
    a
      color #fff;

#header-h2
  position absolute
  left 135px
  top 5px
  font-weight normal
  font-size 1em
  line-height 45px
  color #eee;

  @media screen and (max-width: 960px)
    padding 0 1em

#main-nav
  position absolute
  right 0
  top 0
  ul
    list-style none
    li
      float left
      margin-left 15px
      line-height 45px
      a
        color #cdbfe3
        &:hover
          color #fff